.u_hei_5p {height: 5%;}
.u_hei_10p {height: 10%;}
.u_hei_15p {height: 15%;}
.u_hei_20p {height: 20%;}
.u_hei_25p {height: 25%;}
.u_hei_30p {height: 30%;}
.u_hei_35p {height: 35%;}
.u_hei_40p {height: 40%;}
.u_hei_45p {height: 45%;}
.u_hei_50p {height: 50%;}
.u_hei_55p {height: 55%;}
.u_hei_60p {height: 60%;}
.u_hei_65p {height: 65%;}
.u_hei_70p {height: 70%;}
.u_hei_75p {height: 75%;}
.u_hei_80p {height: 80%;}
.u_hei_85p {height: 85%;}
.u_hei_90p {height: 90%;}
.u_hei_95p {height: 95%;}
.u_hei_100p {height: 100%;}
.u_hei_25x {height: 25px;}
.u_hei_40x {height: 40px;}
.u_hei_50x {height: 50px;}
.u_hei_75x {height: 75px;}
.u_hei_100x {height: 100px;}
.u_hei_125x {height: 125px;}
.u_hei_150x {height: 150px;}
.u_hei_175x {height: 175px;}
.u_hei_200x {height: 200px;}
.u_hei_225x {height: 225px;}
.u_hei_250x {height: 250px;}
.u_hei_275x {height: 275px;}
.u_hei_300x {height: 300px;}
.u_hei_325x {height: 325px;}
.u_hei_350x {height: 350px;}
.u_hei_375x {height: 375px;}
.u_hei_400x {height: 400px;}
.u_hei_425x {height: 425px;}
.u_hei_450x {height: 450px;}
.u_hei_475x {height: 475px;}
.u_hei_500x {height: 500px;}
.u_hei_525x {height: 525px;}
.u_hei_550x {height: 550px;}
.u_hei_575x {height: 575px;}
.u_hei_600x {height: 600px;}
.u_mahei_5p {max-height: 5%;}
.u_mahei_10p {max-height: 10%;}
.u_mahei_15p {max-height: 15%;}
.u_mahei_20p {max-height: 20%;}
.u_mahei_25p {max-height: 25%;}
.u_mahei_30p {max-height: 30%;}
.u_mahei_35p {max-height: 35%;}
.u_mahei_40p {max-height: 40%;}
.u_mahei_45p {max-height: 45%;}
.u_mahei_50p {max-height: 50%;}
.u_mahei_55p {max-height: 55%;}
.u_mahei_60p {max-height: 60%;}
.u_mahei_65p {max-height: 65%;}
.u_mahei_70p {max-height: 70%;}
.u_mahei_75p {max-height: 75%;}
.u_mahei_80p {max-height: 80%;}
.u_mahei_85p {max-height: 85%;}
.u_mahei_90p {max-height: 90%;}
.u_mahei_95p {max-height: 95%;}
.u_mahei_100p {max-height: 100%;}
.u_mahei_50x {max-height: 50px;}
.u_mahei_75x {max-height: 75px;}
.u_mahei_100x {max-height: 100px;}
.u_mahei_125x {max-height: 125px;}
.u_mahei_150x {max-height: 150px;}
.u_mahei_175x {max-height: 175px;}
.u_mahei_200x {max-height: 200px;}
.u_mahei_225x {max-height: 225px;}
.u_mahei_250x {max-height: 250px;}
.u_mahei_275x {max-height: 275px;}
.u_mahei_300x {max-height: 300px;}
.u_mahei_325x {max-height: 325px;}
.u_mahei_350x {max-height: 350px;}
.u_mahei_375x {max-height: 375px;}
.u_mahei_400x {max-height: 400px;}
.u_mahei_425x {max-height: 425px;}
.u_mahei_450x {max-height: 450px;}
.u_mahei_475x {max-height: 475px;}
.u_mahei_500x {max-height: 500px;}
.u_mahei_525x {max-height: 525px;}
.u_mahei_550x {max-height: 550px;}
.u_mahei_575x {max-height: 575px;}
.u_mahei_600x {max-height: 600px;}
.u_mihei_5p {min-height: 5%;}
.u_mihei_10p {min-height: 10%;}
.u_mihei_15p {min-height: 15%;}
.u_mihei_20p {min-height: 20%;}
.u_mihei_25p {min-height: 25%;}
.u_mihei_30p {min-height: 30%;}
.u_mihei_35p {min-height: 35%;}
.u_mihei_40p {min-height: 40%;}
.u_mihei_45p {min-height: 45%;}
.u_mihei_50p {min-height: 50%;}
.u_mihei_55p {min-height: 55%;}
.u_mihei_60p {min-height: 60%;}
.u_mihei_65p {min-height: 65%;}
.u_mihei_70p {min-height: 70%;}
.u_mihei_75p {min-height: 75%;}
.u_mihei_80p {min-height: 80%;}
.u_mihei_85p {min-height: 85%;}
.u_mihei_90p {min-height: 90%;}
.u_mihei_95p {min-height: 95%;}
.u_mihei_100p {min-height: 100%;}
.u_mihei_50x {min-height: 50px;}
.u_mihei_75x {min-height: 75px;}
.u_mihei_100x {min-height: 100px;}
.u_mihei_125x {min-height: 125px;}
.u_mihei_150x {min-height: 150px;}
.u_mihei_175x {min-height: 175px;}
.u_mihei_200x {min-height: 200px;}
.u_mihei_225x {min-height: 225px;}
.u_mihei_250x {min-height: 250px;}
.u_mihei_275x {min-height: 275px;}
.u_mihei_300x {min-height: 300px;}
.u_mihei_325x {min-height: 325px;}
.u_mihei_350x {min-height: 350px;}
.u_mihei_375x {min-height: 375px;}
.u_mihei_400x {min-height: 400px;}
.u_mihei_425x {min-height: 425px;}
.u_mihei_450x {min-height: 450px;}
.u_mihei_475x {min-height: 475px;}
.u_mihei_500x {min-height: 500px;}
.u_mihei_525x {min-height: 525px;}
.u_mihei_550x {min-height: 550px;}
.u_mihei_575x {min-height: 575px;}
.u_mihei_600x {min-height: 600px;}
@media screen and (min-height: 768px) {/* Tablet,Computer */
    .u_mihei_rsp_s {min-height: initial;}
    .u_mahei_rsp_s {max-height: initial;}
    .u_hei_rsp_s {height: initial;}
}
@media screen and (max-height: 767px) {/* SmartPhone */
    .u_mihei_rsp_p {min-height: initial;}
    .u_mahei_rsp_p {max-height: initial;}
    .u_hei_rsp_p {height: initial;}
}
