
.u_p0 {
    padding: 0px;
}

.u_p5 {
    padding: 5px;
}

.u_p10 {
    padding: 10px;
    padding: 10px;
}

.u_p20 {
    padding: 20px;
    padding: 20px;
}

.u_p30 {
    padding: 30px;
    padding: 30px;
}

.u_p40 {
    padding: 40px;
    padding: 40px;
}

.u_pb0 {
    padding-bottom: 0px;
}

.u_pb10 {
    padding-bottom: 10px;
}

.u_pb20 {
    padding-bottom: 20px;
}

.u_pb30 {
    padding-bottom: 30px;
}

.u_pb40 {
    padding-bottom: 40px;
}

.u_ph0 {
    padding-left: 0px;
    padding-right: 0px;
}

.u_ph10 {
    padding-left: 10px;
    padding-right: 10px;
}

.u_ph20 {
    padding-left: 20px;
    padding-right: 20px;
}

.u_ph30 {
    padding-left: 30px;
    padding-right: 30px;
}

.u_ph40 {
    padding-left: 40px;
    padding-right: 40px;
}

.u_pl0 {
    padding-left: 0px;
}

.u_pl10 {
    padding-left: 10px;
}

.u_pl20 {
    padding-left: 20px;
}

.u_pl30 {
    padding-left: 30px;
}

.u_pl40 {
    padding-left: 40px;
}

.u_pr0 {
    padding-right: 0px;
}

.u_pr10 {
    padding-right: 10px;
}

.u_pr20 {
    padding-right: 20px;
}

.u_pr30 {
    padding-right: 30px;
}

.u_pr40 {
    padding-right: 40px;
}

.u_pt0 {
    padding-top: 0px;
}

.u_pt10 {
    padding-top: 10px;
}

.u_pt20 {
    padding-top: 20px;
}

.u_pt30 {
    padding-top: 30px;
}

.u_pt40 {
    padding-top: 40px;
}

.u_pv0 {
    padding-top: 0px;
    padding-bottom: 0px;
}

.u_pv10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.u_pv20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.u_pv30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.u_pv40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.u_p0p {
    padding: 0%;
}

.u_p10p {
    padding: 10%;
    padding: 10%;
}

.u_p20p {
    padding: 20%;
    padding: 20%;
}

.u_p30p {
    padding: 30%;
    padding: 30%;
}

.u_p40p {
    padding: 40%;
    padding: 40%;
}

.u_pb0p {
    padding-bottom: 0%;
}

.u_pb10p {
    padding-bottom: 10%;
}

.u_pb20p {
    padding-bottom: 20%;
}

.u_pb30p {
    padding-bottom: 30%;
}

.u_pb40p {
    padding-bottom: 40%;
}

.u_ph0p {
    padding-left: 0%;
    padding-right: 0%;
}

.u_ph10p {
    padding-left: 10%;
    padding-right: 10%;
}

.u_ph20p {
    padding-left: 20%;
    padding-right: 20%;
}

.u_ph30p {
    padding-left: 30%;
    padding-right: 30%;
}

.u_ph40p {
    padding-left: 40%;
    padding-right: 40%;
}

.u_pl0p {
    padding-left: 0%;
}

.u_pl10p {
    padding-left: 10%;
}

.u_pl20p {
    padding-left: 20%;
}

.u_pl30p {
    padding-left: 30%;
}

.u_pl40p {
    padding-left: 40%;
}

.u_pr0p {
    padding-right: 0%;
}

.u_pr10p {
    padding-right: 10%;
}

.u_pr20p {
    padding-right: 20%;
}

.u_pr30p {
    padding-right: 30%;
}

.u_pr40p {
    padding-right: 40%;
}

.u_pt0p {
    padding-top: 0%;
}

.u_pt10p {
    padding-top: 10%;
}

.u_pt20p {
    padding-top: 20%;
}

.u_pt30p {
    padding-top: 30%;
}

.u_pt40p {
    padding-top: 40%;
}

.u_pv0p {
    padding-top: 0%;
    padding-bottom: 0%;
}

.u_pv10p {
    padding-top: 10%;
    padding-bottom: 10%;
}

.u_pv20p {
    padding-top: 20%;
    padding-bottom: 20%;
}

.u_pv30p {
    padding-top: 30%;
    padding-bottom: 30%;
}

.u_pv40p {
    padding-top: 40%;
    padding-bottom: 40%;
}

@media screen and (min-width: 768px) {
    .u_p_rsp_s {
        padding: 0;
    }

    .u_pt_rsp_s {
        padding-top: 0;
    }

    .u_pr_rsp_s {
        padding-right: 0;
    }

    .u_pb_rsp_s {
        padding-bottom: 0;
    }

    .u_pl_rsp_s {
        padding-left: 0;
    }
}

@media screen and (max-width: 767px) {
    .u_p_rsp_p {
        padding: 0;
    }

    .u_pt_rsp_p {
        padding-top: 0;
    }

    .u_pr_rsp_p {
        padding-right: 0;
    }

    .u_pb_rsp_p {
        padding-bottom: 0;
    }

    .u_pl_rsp_p {
        padding-left: 0;
    }
}
