.u_tac {
    text-align: center;
}

.u_tal {
    text-align: left;
}

.u_tar {
    text-align: right;
}

.u_twb_ba {
    word-break: break-all;
}

.u_twb_ka {
    word-break: keep-all !important;
}

.u_txt_color_red {
    color: red;
}

.u_tfsize_50pe {
    font-size: 50%;
}
