.u_wid_5p {
    width: 5%;
}

.u_wid_10p {
    width: 10%;
}

.u_wid_15p {
    width: 15%;
}

.u_wid_20p {
    width: 20%;
}

.u_wid_25p {
    width: 25%;
}

.u_wid_30p {
    width: 30%;
}

.u_wid_35p {
    width: 35%;
}

.u_wid_40p {
    width: 40%;
}

.u_wid_45p {
    width: 45%;
}

.u_wid_50p {
    width: 50%;
}

.u_wid_55p {
    width: 55%;
}

.u_wid_60p {
    width: 60%;
}

.u_wid_65p {
    width: 65%;
}

.u_wid_70p {
    width: 70%;
}

.u_wid_75p {
    width: 75%;
}

.u_wid_80p {
    width: 80%;
}

.u_wid_85p {
    width: 85%;
}

.u_wid_90p {
    width: 90%;
}

.u_wid_95p {
    width: 95%;
}

.u_wid_100p {
    width: 100%;
}

.u_wid_50x {
    width: 50px;
}

.u_wid_75x {
    width: 75px;
}

.u_wid_100x {
    width: 100px;
}

.u_wid_125x {
    width: 125px;
}

.u_wid_150x {
    width: 150px;
}

.u_wid_175x {
    width: 175px;
}

.u_wid_200x {
    width: 200px;
}

.u_wid_225x {
    width: 225px;
}

.u_wid_250x {
    width: 250px;
}

.u_wid_275x {
    width: 275px;
}

.u_wid_300x {
    width: 300px;
}

.u_wid_325x {
    width: 325px;
}

.u_wid_350x {
    width: 350px;
}

.u_wid_375x {
    width: 375px;
}

.u_wid_400x {
    width: 400px;
}

.u_wid_425x {
    width: 425px;
}

.u_wid_450x {
    width: 450px;
}

.u_wid_475x {
    width: 475px;
}

.u_wid_500x {
    width: 500px;
}

.u_wid_525x {
    width: 525px;
}

.u_wid_550x {
    width: 550px;
}

.u_wid_575x {
    width: 575px;
}

.u_wid_600x {
    width: 600px;
}

.u_mawid_5p {
    max-width: 5%;
}

.u_mawid_10p {
    max-width: 10%;
}

.u_mawid_15p {
    max-width: 15%;
}

.u_mawid_20p {
    max-width: 20%;
}

.u_mawid_25p {
    max-width: 25%;
}

.u_mawid_30p {
    max-width: 30%;
}

.u_mawid_35p {
    max-width: 35%;
}

.u_mawid_40p {
    max-width: 40%;
}

.u_mawid_45p {
    max-width: 45%;
}

.u_mawid_50p {
    max-width: 50%;
}

.u_mawid_55p {
    max-width: 55%;
}

.u_mawid_60p {
    max-width: 60%;
}

.u_mawid_65p {
    max-width: 65%;
}

.u_mawid_70p {
    max-width: 70%;
}

.u_mawid_75p {
    max-width: 75%;
}

.u_mawid_80p {
    max-width: 80%;
}

.u_mawid_85p {
    max-width: 85%;
}

.u_mawid_90p {
    max-width: 90%;
}

.u_mawid_95p {
    max-width: 95%;
}

.u_mawid_100p {
    max-width: 100%;
}

.u_mawid_50x {
    max-width: 50px;
}

.u_mawid_75x {
    max-width: 75px;
}

.u_mawid_100x {
    max-width: 100px;
}

.u_mawid_125x {
    max-width: 125px;
}

.u_mawid_150x {
    max-width: 150px;
}

.u_mawid_175x {
    max-width: 175px;
}

.u_mawid_200x {
    max-width: 200px;
}

.u_mawid_225x {
    max-width: 225px;
}

.u_mawid_250x {
    max-width: 250px;
}

.u_mawid_275x {
    max-width: 275px;
}

.u_mawid_300x {
    max-width: 300px;
}

.u_mawid_325x {
    max-width: 325px;
}

.u_mawid_350x {
    max-width: 350px;
}

.u_mawid_375x {
    max-width: 375px;
}

.u_mawid_400x {
    max-width: 400px;
}

.u_mawid_425x {
    max-width: 425px;
}

.u_mawid_450x {
    max-width: 450px;
}

.u_mawid_475x {
    max-width: 475px;
}

.u_mawid_500x {
    max-width: 500px;
}

.u_mawid_525x {
    max-width: 525px;
}

.u_mawid_550x {
    max-width: 550px;
}

.u_mawid_575x {
    max-width: 575px;
}

.u_mawid_600x {
    max-width: 600px;
}

.u_miwid_5p {
    min-width: 5%;
}

.u_miwid_10p {
    min-width: 10%;
}

.u_miwid_15p {
    min-width: 15%;
}

.u_miwid_20p {
    min-width: 20%;
}

.u_miwid_25p {
    min-width: 25%;
}

.u_miwid_30p {
    min-width: 30%;
}

.u_miwid_35p {
    min-width: 35%;
}

.u_miwid_40p {
    min-width: 40%;
}

.u_miwid_45p {
    min-width: 45%;
}

.u_miwid_50p {
    min-width: 50%;
}

.u_miwid_55p {
    min-width: 55%;
}

.u_miwid_60p {
    min-width: 60%;
}

.u_miwid_65p {
    min-width: 65%;
}

.u_miwid_70p {
    min-width: 70%;
}

.u_miwid_75p {
    min-width: 75%;
}

.u_miwid_80p {
    min-width: 80%;
}

.u_miwid_85p {
    min-width: 85%;
}

.u_miwid_90p {
    min-width: 90%;
}

.u_miwid_95p {
    min-width: 95%;
}

.u_miwid_100p {
    min-width: 100%;
}

.u_miwid_50x {
    min-width: 50px;
}

.u_miwid_75x {
    min-width: 75px;
}

.u_miwid_100x {
    min-width: 100px;
}

.u_miwid_125x {
    min-width: 125px;
}

.u_miwid_150x {
    min-width: 150px;
}

.u_miwid_175x {
    min-width: 175px;
}

.u_miwid_200x {
    min-width: 200px;
}

.u_miwid_225x {
    min-width: 225px;
}

.u_miwid_250x {
    min-width: 250px;
}

.u_miwid_275x {
    min-width: 275px;
}

.u_miwid_300x {
    min-width: 300px;
}

.u_miwid_325x {
    min-width: 325px;
}

.u_miwid_350x {
    min-width: 350px;
}

.u_miwid_375x {
    min-width: 375px;
}

.u_miwid_400x {
    min-width: 400px;
}

.u_miwid_425x {
    min-width: 425px;
}

.u_miwid_450x {
    min-width: 450px;
}

.u_miwid_475x {
    min-width: 475px;
}

.u_miwid_500x {
    min-width: 500px;
}

.u_miwid_525x {
    min-width: 525px;
}

.u_miwid_550x {
    min-width: 550px;
}

.u_miwid_575x {
    min-width: 575px;
}

.u_miwid_600x {
    min-width: 600px;
}

@media screen and (min-width: 768px) {
    /* Tablet,Computer */

    .u_miwid_rsp_s {
        min-width: initial;
    }

    .u_mawid_rsp_s {
        max-width: initial;
    }

    .u_wid_rsp_s {
        width: initial;
    }
}

@media screen and (max-width: 767px) {
    /* SmartPhone */

    .u_miwid_rsp_p {
        min-width: initial;
    }

    .u_mawid_rsp_p {
        max-width: initial;
    }

    .u_wid_rsp_p {
        width: initial;
    }
}
